<p>id: <%= @article.id %></p>
<p>作成日: <%= @article.updated_at %></p>

<p>
    <strong>title: </strong>
    <%= @article.title %>
</p>

<p>
    <strong>text: </strong>
    <%= @article.text %>
</p>

<%= link_to 'top', articles_path %>